// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */

//Modern border-box applied everywhere.
html {
  box-sizing: border-box;
}

// inherit box-sizing
*,
*:before,
*:after {
  box-sizing: inherit;
}

// set upp body color
img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

html {
  body {
    font-family: $font;
    color: $primary;
  }
}